[Unit]
Description=Flask App
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/opt/flaskapp/current
Environment="PATH=/opt/flaskapp/current/venv/bin"
ExecStart=/opt/flaskapp/current/venv/bin/python3 /opt/flaskapp/current/app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target